﻿<div class="lookup-modal">
    <div class="modal-header">
        <h3>Search for Item Data</h3>
        <div us-spinner="{radius:10, width:8, length: 2, lines:40, opacity:0.01, color:'#90C3D4', speed:1.8}"  spinner-key="itemSearch" style="position: relative"></div>
    </div>
    <div class="modal-body">
        <div class="row">
            <button class="btn btn-success btn-sm col-md-offset-11" ng-click="vm.addSelectedItems()"> <span class="fa fa-plus-square fa-lg"></span></button>
            <button class="btn btn-warning btn-sm" ng-click="$dismiss()"> <span class="fa fa-arrow-circle-left fa-lg"></span></button>
        </div>
        <div class="form-group row">
            <label class="col-md-2 control-label" for="nationalNumber">National Item Number</label>
            <div class="col-md-2">
                <input id="nationalNumber" name="nationalNumber" ng-model="vm.itemSearch"
                       type="text" placeholder="" class="form-control input-sm" ng-enter="vm.searchItems()">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group row">
            <label class="col-md-2 control-label" for="itemDescription">Item Description</label>
            <div class="col-md-4">
                <input id="itemDescription" name="itemDescription" ng-model="vm.searchText"
                       type="text" placeholder="" class="form-control input-sm" ng-enter="vm.searchItems()">
            </div><button class="btn btn-info col-md-1" type="button" ng-click="vm.searchItems()">Search</button>
        </div>

        <div class="form-group row">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <label class="radio-inline" for="radios-0">
                    <input type="radio" name="radios" id="radios-0" value="Normal" checked="checked" ng-model="vm.searchTarget" ng-click="vm.resetSearch()">
                    Normal Items
                </label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline" for="radios-1">
                    <input type="radio" name="radios" id="radios-1" value="ServiceDept" ng-model="vm.searchTarget" ng-click="vm.resetSearch()">
                    Service Department Items
                </label>
            </div>
        </div>
        <div class="row" ng-show="vm.primaryVendor != null">
            <label class="col-md-2 col-md-offset-8 control-label" style="text-align:right">Primary Vendor:</label>
            <label class="col-md-2 label-info">{{vm.primaryVendor}}</label>
        </div>
            <table class="table table-hover">
                <thead>
                    <tr class="row" ng-show="vm.searchTarget==='ServiceDept'">
                        <td>Select</td>
                        <td>Item No</td>
                        <td>Description</td>
                        <td>Size</td>
                        <td>Pack</td>
                        <td>Recipe Id</td>
                        <td>Recipe Name</td>
                    </tr>
                    <tr class="row" ng-show="vm.searchTarget==='Normal'">
                        <td>Select</td>
                        <td>Item No</td>
                        <td>Description</td>
                        <td>Size</td>
                        <td>Pack</td>
                        <td>EAN</td>
                        <td>DC/DSH</td>
                        <td>Variant Master Code</td>
                        <td>Vendor Code</td>
                        <td>Vendor Name</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.itemDetails" class="row" ng-show="vm.searchTarget==='Normal'" ng-class="{'warningRow':vm.primaryVendor!=null && (item.vendorCode != vm.primaryVendor) }">
                        <td>
                            <input type="checkbox" ng-model="checkbox" ng-change="vm.selectItem(checkbox, $index)" ng-true-value="'selected'" ng-false-value="'unselected'"
                                   ng-hide="item.isDuplicate" />
                            <button ng-show="item.isDuplicate" class="btn btn-warning btn-xs" ng-click="tooltipIsOpen=!tooltipIsOpen">
                                <span class="fa fa-exclamation-triangle"
                                      uib-tooltip="Item already added"
                                      tooltip-placement="top-left" tooltip-is-open="tooltipIsOpen">

                                </span>
                            </button>
                        </td>
                        <td>{{item.memberId}}</td>
                        <td>{{item.productDescription}}</td>
                        <td>{{item.itemSize}}</td>
                        <td>{{item.storeRetailUnit}}</td>
                        <td>{{item.consumerEANCode}}</td>
                        <td>{{item.itemDistributionMethodName}}</td>
                        <td>{{item.variantMasterCode}}</td>
                        <td>{{item.vendorId}}</td>
                        <td>{{item.vendorName}}</td>
                    </tr>

                    <tr ng-repeat="item in vm.itemDetails" class="row" ng-show="vm.searchTarget==='ServiceDept'">
                        <td>
                            <input type="checkbox" ng-model="checkbox" ng-change="vm.selectItem(checkbox, $index)" ng-true-value="'selected'" ng-false-value="'unselected'"
                                   ng-hide="item.isDuplicate" />
                            <button ng-show="item.isDuplicate" class="btn btn-warning btn-xs">
                                <span class="fa fa-exclamation-triangle"
                                      uib-tooltip="Item already added"
                                      tooltip-is-open="toolTipOpen">
                                </span>
                            </button>
                        </td>
                        <td>{{item.sdCiShortCode}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.size}}</td>
                        <td></td>
                        <td>{{item.recipeCode}}</td>
                        <td>{{item.recipeName}}</td>
                    </tr>
                </tbody>
            </table>
     
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="vm.addSelectedItems()">Add Selected Items</button>
        <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
    </div>
</div>