﻿<div ng-message="required">{{fieldName}} can't be blank</div>
<div ng-message="maxlength">Field contains too many characters</div>
<div ng-message="minlength">Field contains too few characters</div>
<div ng-message="min">Too low</div>
<div ng-message="max">Value too high</div>
<div ng-message="spCiTypeInactive">The selected type is Inactive</div>