﻿<div class="container panel-primary">
    <br />
    <div class="jumbotron row">
        <div class="row">   
            <div class="col-md-1 col-md-offset-2">
                <span class="fa fa-ban fa-5x" style="color:palevioletred"></span> 
            </div>
            <div class="col-md-9">
                <h4>Sorry you do not have access to this application. Please contact your Helpdesk to have permissions granted.</h4>
            </div>
        </div>

    </div>

    <!--<div class="col-md-12">
        <img src="../../Content/rg.png" />
    </div>-->
</div>