﻿<div class="form-group row" ng-hide="disableControl">
    <span class="col-md-1"></span>
    <label class="checkbox-inline col-md-1"><input type="checkbox"  ng-model="dayModel" ng-true-value="'TRUE'" ng-false-value="'FALSE'" ng-change="dayBoxChanged()" ng-disabled="disableControl"/>{{dayLabel}}</label>
    <label class="checkbox-inline col-md-1"><input type="checkbox"  ng-model="timeModel" ng-true-value="'TRUE'" ng-false-value="'FALSE'" ng-disabled="disableControl" />All Day</label>
    <label for="timeStart" class="col-md-1" style="text-align:right;">From</label>
    <uib-timepicker ng-model="startTime" show-spinners="false" class="col-md-1" minute-step="15" ng-change="updateTimesModel('start')"
                    ng-disabled="timeModel==='TRUE' || disableControl"></uib-timepicker>
    <label for="timeEnd" class="col-md-1" style="text-align:right;">To</label>
    <uib-timepicker ng-model="endTime" show-spinners="false" class="col-md-1" minute-step="15" ng-change="updateTimesModel('end')"
                    ng-disabled="timeModel==='TRUE' || disableControl"></uib-timepicker>
</div>