﻿<div class="panel-info">
    <div class="panel panel-heading"><h5>{{subGroupHeader}}</h5></div>
    <div class="panel-body">
        <ng-form name="sgForm">
            <fieldset ng-disabled="!detailsEditable">   
                    <div form-input class="col-md-6" ng-show="showConditionValue">
                        <label class="col-md-4 control-label" for="conditionDescr">{{conditionDescription}}</label>
                        <div class="col-md-3">
                            <input class="form-control input-md" id="conditionVal" name="conditionVal" type="number" ng-model="newConditionValue" ng-change="updateDetailsConditionValue()"
                                   ng-model-options="{updateOn:'default blur', debounce:{'default':500, 'blur':0}}"
                                   required min="1" />
                        </div>
                    </div>
                    <div form-input class="col-md-6">
                        <label class="col-md-4 control-label" for="rewardDescr">{{rewardDescription}}</label>
                        <div class="col-md-3 input-group" ng-show="showRewardValue">
                            <span class="input-group-addon">{{rewardSymbol}}</span>
                            <input class="form-control input-md" id="rewardVal" name="rewardVal" type="number" ng-model="newRewardValue" ng-change="updateDetailsRewardValue()"
                                   ng-model-options="{updateOn:'default blur', debounce:{'default':500,'blur':0}}"
                                   required min="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
                        </div>
                    </div>
            </fieldset>
        </ng-form>
       
       <br />
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <td>BU</td>
                    <td>Item No</td>
                    <td>Description</td>
                    <td>Size</td>
                    <td>Pack</td>
                    <td>Variant Master Code</td>
                    <td>DC/DSH</td>
                    <td>Service Dept</td>
                    <td>Recipe ID</td>
                    <td>Recipe Name</td>
                    <td>{{rewardDescription}}</td>
                    <td>Condition</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in details" class="row animate-repeat" 
                    ng-show="(item.variantMasterIndicator==='Y' || !excludeVariants || item.itemTypeCode==='S')&& (item.activeCode==='Y' || includeInactiveItems) 
                    && (item.businessUnitCode===myDc || !showOnlyMyDc)">
                    <td>{{item.businessUnitCode}}</td>
                    <td>{{item.itemNumber}}</td>
                    <td>{{item.nationalItemNumberName}}</td>
                    <td>{{item.itemSize}}</td>
                    <td>{{item.itemPack}}</td>
                    <td>{{item.variantMasterCode}}</td>
                    <td>{{item.itemDistributionMethodName}}</td>
                    <td>{{item.itemTypeCode==='S'?'Y':'N'}}</td>
                    <td>{{item.recipeId}}</td>
                    <td>{{item.recipeName}}</td>
                    <td>
                        <span ng-if="item.businessUnitCode===myDc">{{newRewardValue | number:2}}</span>
                        <span ng-if="item.businessUnitCode!=myDc">{{item.itemRewardValue | number:2}}</span>
                    </td>
                    <td>
                        <span ng-if="item.businessUnitCode===myDc">{{conditionDescription}} {{dayTimeDependent===true?'':newConditionValue}}</span>
                        <span ng-if="item.businessUnitCode!=myDc">{{conditionDescription}} {{dayTimeDependent===true?'':item.promoQuantity}}</span>
                    </td>
                    <td><button ng-click="removeDetail($index)"class="btn btn-danger btn-xs" ng-disabled="item.businessUnitCode!=myDc || !detailsEditable"><span class="fa fa-times" ></span></button></td>
                </tr>
            </tbody>
        </table>
        <!--<pre>{{mySubgroup.compositeItemDetails | json}}</pre>-->
    </div>
    <div class="panel panel-footer"><button class="btn btn-info" ng-click="showItemLookup()" ng-disabled="!detailsEditable">Add</button></div>
</div>
