﻿<div>
   <div class="panel-info panel-heading"><h4>Details for this Composite Item </h4></div> 
    <div class="panel-info panel-body">
        <ng-form name="subgroupsContainer">
            <div class="container">
                <label class="col-md-2 control-label" for="checkboxes"></label>
                <div class="col-md-10">
                    <label class="checkbox-inline" for="checkboxes-0">
                        <input type="checkbox" name="checkboxes" id="checkboxes-0" ng-model="includeInactiveItems" ng-true-value="true" ng-false-value="false">
                        Include Inactive Composite Item Details
                    </label>
                    <label class="checkbox-inline" for="checkboxes-1">
                        <input type="checkbox" name="checkboxes" id="checkboxes-1" ng-model="showOnlyMyDc">
                        Show my DC only
                    </label>
                    <label class="checkbox-inline" for="checkboxes-2">
                        <input type="checkbox" name="checkboxes" id="checkboxes-2" ng-model="excludeVariants" ng-true-value="true" ng-false-value="false">
                        Exclude Variants
                    </label>
                </div>
            </div>
            
            <ci-details-subgroup my-subgroup="subgroup"
                     exclude-variants="excludeVariants"
                     include-inactive-items="includeInactiveItems"
                     show-only-my-dc="showOnlyMyDc" my-dc="userDc"
                     condition-description="conditionDescription"
                     reward-description="rewardDescription"
                     reward-code="rewardCode"
                     ng-repeat="subgroup in compositeItem.compositeItemGroups"
                     details-editable="detailsEditable"
                     item-code="compositeItem.code"
                     current-details="currentDetails"
                     day-time-dependent="showDayTime">

            </ci-details-subgroup>
        </ng-form>
       

       
    </div>
    <div class="panel-info panel-footer">
        <button class="btn btn-info" ng-click="addNewSubgroup()" ng-disabled="maxSubgroupsUsed || !detailsEditable">Add New Product Group</button>
    </div> <br />
    <div ng-show="showDayTime" ng-if="showDayTime"> <!-- Show Day Time form if type is Day Time Dependent -->
        <div>
           <label>Day and Time Promotion Applies:</label> 
        </div>
        <fieldset ng-disabled="!detailsEditable">
            <day-time-selector day-label="Everyday" day-model="dayTimeConditions.day8" time-model="dayTimeConditions.time8"
                               global-day-setter="true" actual-start-time="dayTimeConditions.time8Start"
                               actual-end-time="dayTimeConditions.time8End"></day-time-selector>

            <day-time-selector day-label="Monday" day-model="dayTimeConditions.day1" time-model="dayTimeConditions.time1"
                               global-day-setter="false" actual-start-time="dayTimeConditions.time1Start"
                               actual-end-time="dayTimeConditions.time1End"></day-time-selector>

            <day-time-selector day-label="Tuesday" day-model="dayTimeConditions.day2" time-model="dayTimeConditions.time2"
                               global-day-setter="false" actual-start-time="dayTimeConditions.time2Start"
                               actual-end-time="dayTimeConditions.time2End"></day-time-selector>

            <day-time-selector day-label="Wednesday" day-model="dayTimeConditions.day3" time-model="dayTimeConditions.time3"
                               global-day-setter="false" actual-start-time="dayTimeConditions.time3Start"
                               actual-end-time="dayTimeConditions.time3End"></day-time-selector>

            <day-time-selector day-label="Thursday" day-model="dayTimeConditions.day4" time-model="dayTimeConditions.time4"
                               global-day-setter="false" actual-start-time="dayTimeConditions.time4Start"
                               actual-end-time="dayTimeConditions.time4End"></day-time-selector>

            <day-time-selector day-label="Friday" day-model="dayTimeConditions.day5" time-model="dayTimeConditions.time5"
                               global-day-setter="false" actual-start-time="dayTimeConditions.time5Start"
                               actual-end-time="dayTimeConditions.time5End"></day-time-selector>

            <day-time-selector day-label="Saturday" day-model="dayTimeConditions.day6" time-model="dayTimeConditions.time6"
                               global-day-setter="false" actual-start-time="dayTimeConditions.time6Start"
                               actual-end-time="dayTimeConditions.time6End"></day-time-selector>

            <day-time-selector day-label="Sunday" day-model="dayTimeConditions.day7" time-model="dayTimeConditions.time7"
                               global-day-setter="false" actual-start-time="dayTimeConditions.time7Start"
                               actual-end-time="dayTimeConditions.time7End"></day-time-selector>
        </fieldset>
       
    </div>
    <!--<pre>{{group | json}}</pre>--> 
</div>