﻿<div class="container">

    <div class="modal-header">
        <div class="row">
            <h3 class="modal-title">{{vm.title}}</h3>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <button class="btn btn-success btn-sm col-md-offset-10" ng-click="vm.saveClicked()" ng-disabled="ciForm.$invalid || subgroupsForm.subgroupsContainer.$invalid"> <span class="fa fa-floppy-o fa-lg"></span></button>
            <button class="btn btn-info btn-sm" ng-click="vm.undoClicked()"> <span class="fa fa-undo fa-lg"></span></button>
            <button class="btn btn-warning btn-sm" ng-click="vm.cancelClicked()"> <span class="fa fa-hand-o-left fa-lg"></span></button>
        </div>

        <form class="form-horizontal" name="ciForm" novalidate>
            <fieldset ng-disabled="!vm.canEditHeader ||  vm.compositeItem.activeCode==='N'">
                <div class="form-group row">
                    <label class="col-md-2 control-label" for="nationaNumber">National Number</label>
                    <div class="col-md-6">
                        <input class="form-control input-md" ng-model="vm.compositeItem.sdCiShortCode" id="nationaNumber" disabled />
                    </div>
                </div>


                <div class="row" form-input field-name="Name">
                    <label class="col-md-2" for="itemDescr">Name</label>
                    <div class="col-md-6">
                        <input ng-model="vm.compositeItem.name" id="itemName" name="itemName"
                               required />
                    </div>
                </div>

                <div class="row" form-input field-name="Description">
                    <label class="col-md-2" for="itemDescr">Promo Description</label>
                    <div class="col-md-6">
                        <input ng-model="vm.compositeItem.description" id="itemDescr" name="itemDescr"
                               required />
                    </div>
                </div>

                <div class="row" form-input>
                    <label class="col-md-2" for="typeSelect">Composite Item Type</label>
                    <div class="col-md-6">
                        <select id="typeSelect" name="typeSelect"
                                ng-model="vm.compositeItem.compositeItemType"
                                ng-options="itemType.compItemTypeName for itemType in vm.compositeItemTypes track by itemType.compItemTypeId"
                                ng-change="vm.compositeItemTypeChanged()"
                                tooltip-placement="top-left" uib-tooltip="{{vm.compositeItem.compositeItemType.helpHint}}"
                                required 
                                sp-ci-type-inactive></select>
                        <!--<span id="helpBlock" class="help-block"> {{vm.compositeItem.compositeItemType.helpHint}}</span>-->
                    </div>
                </div>

                <div class="row" form-input>
                    <label class="col-md-2">Till Description</label>
                    <div class="col-md-6">
                        <input id="tillDescr" name="tillDescr" ng-model="vm.compositeItem.scanDescription"
                               required />
                    </div>
                </div>
            </fieldset>

                <div class="row" form-input>
                    <label class="col-md-2" for="pcSelect">Planning Category</label>
                    <div class="col-md-6">
                        <select id="pcSelect" name="pcSelect"
                                ng-model="vm.compositeItem.planningCategory"
                                ng-options="pc.code as pc.name for pc in vm.planningCategories"
                                ng-change="vm.updateHeaderProperties(pc)"
                                required
                                 ng-disabled="(!vm.canEditHeader ||  vm.compositeItem.activeCode==='N') && !vm.updatePlanningCategory"></select>
                    </div>
                </div>
            <fieldset ng-disabled="!vm.canEditHeader ||  vm.compositeItem.activeCode==='N'">
                <div class="row" form-input>
                    <label class="col-md-2" for="rcSelect">Retail Category</label>
                    <div class="col-md-6">
                        <select id="rcSelect" name="rcSelect"
                                ng-model="vm.compositeItem.retailCategoryCode"
                                ng-options="rc.code as rc.displayName for rc in vm.retailCategories"
                                ng-change="vm.updateRetCatName()"
                                required></select>
                    </div>
                </div>
            </fieldset>
        </form>    <!-- <pre>{{ciForm | json}}</pre> --> 

        <div class="form-group row">
            <label class="col-md-2 control-label text-right">Active</label>
            <div class="col-md-6">
                <input type="checkbox" name="ciStatus" id="ciStatus-0" ng-model="vm.compositeItem.activeCode" ng-false-value="'N'" ng-true-value="'Y'">
                <label>{{vm.compositeItem.status}}</label>
            </div>
        </div>

    </div>
    <ng-form name="subgroupsForm">
        <subgroups composite-item="vm.compositeItem" user-dc="vm.userDc" details-editable="vm.canEditDetails &&  vm.compositeItem.activeCode==='Y'"></subgroups>
    </ng-form>

    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="vm.saveClicked()" ng-disabled="ciForm.$invalid || subgroupsForm.subgroupsContainer.$invalid">Save</button>
        <button class="btn btn-info" type="button" ng-click="vm.undoClicked()">Undo</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancelClicked()">Cancel</button>
    </div>
    <!--<pre>{{vm.compositeItem | json}}</pre>-->
    <!--<pre>{{ciForm.$invalid}} - {{subgroupsForm.subgroupsContainer.$invalid}}</pre>-->
</div>