﻿<div>
    <div class="modal-header">
        <div class="row">
            <h3>Composite Items</h3>
        </div>
    </div>    

    <div class="container">
        <button class="btn btn-info col-md-offset-11 btn-xs" ng-click="vm.addNew()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
        <!-- Text input-->
        <div class="form-group row" >
            <label class="col-md-2 control-label" for="nationalNumber">National Item Number</label>
            <div class="col-md-2">
                <input id="nationalNumber" name="nationalNumber" ng-model="vm.itemSearch" 
                       type="text" placeholder="" class="form-control input-sm" ng-enter="vm.searchItems()">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group row">
            <label class="col-md-2 control-label" for="itemDescription">Item Description</label>
            <div class="col-md-4">
                <input id="itemDescription" name="itemDescription" ng-model="vm.searchText" 
                       type="text" placeholder="" class="form-control input-sm" ng-enter="vm.searchItems()">         
            </div>

        </div>
        <!--<div class="form-group row">
            <label class="col-md-2 control-label" for="showAll"></label>
            <div class="col-md-4">
                <label class="checkbox-inline" for="showAll-0">
                    <input type="checkbox" name="showAll" id="showAll-0" ng-model="vm.displayAllItems" ng-click="vm.showAll()"> Show me all composite items
                </label>
            </div>
        </div>-->
        <div class="form-group row">
            <label class="col-md-2 control-label" for=""></label>
            <div class="col-md-4">
                <label class="checkbox-inline"includeInactive for="includeInactive">
                    <input type="checkbox" name="includeInactive" id="includeInactive" ng-model="vm.displayInactive" > Include Inactive Items
                </label>
            </div>
            <div>
                <button class="btn btn-info col-md-1" type="button" ng-click="vm.searchItems()">Search</button>
            </div>
        </div>

    <!--<div class="container-fluid">-->
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <td>National Item No</td>
                    <td>Description</td>
                    <td>Type</td>
                    <td>Till Description</td>
                    <td>Retail Category</td>
                    <td>Planning Category</td>
                    <td>Reward</td>
                    <td>Condition</td>
                    <td>Status</td>
                    <td>Created by</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="compositeItem in vm.compositeItems" 
                    ng-class="{'selected':$index == vm.selectedRow}" class="row animate-repeat"
                    ng-click="vm.showCompositeItemDetailsView(compositeItem, $index)"
                    ng-show="compositeItem.activeCode==='Y' || vm.displayInactive">
                    <td>{{compositeItem.sdCiShortCode}}</td>
                    <td><a ng-click="vm.showCompositeItemDetailsView(compositeItem, $index)" style="cursor:pointer">{{compositeItem.description}}</a></td>
                    <td>{{compositeItem.compositeItemTypeName}}</td>
                    <td>{{compositeItem.scanDescription}}</td>
                    <td>{{compositeItem.retailCategoryName}}</td>
                    <td>{{compositeItem.planningCategory.substring(4,compositeItem.planningCategory.length)}}</td>
                    <td>{{compositeItem.reward}}</td>
                    <td>{{compositeItem.condition}}</td>
                    <td>{{compositeItem.activeCode==='Y'?'Active':'Inactive'}}</td>
                    <td>{{compositeItem.enterUserName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>