﻿<div>
    <div class="modal-header">
        <div class="row">
            <h3>{{vm.title}}</h3>
        </div>
    </div>

    <div class="container">
        <uib-tabset active="activeJustified">
            <uib-tab index="0" heading="View" select="vm.changeTabTo('viewVendors')"></uib-tab>
            <uib-tab index="1" heading="Error Detection Log" select="vm.changeTabTo('errorDetectionLog')"></uib-tab>
        </uib-tabset>
    </div>
    <div ui-view></div>
</div>
