﻿<div>
    <div class="form-group row">
        <label class="col-md-1 control-label" for="DC">DC</label>
        <div class="col-md-2">
            <input id="dc" name="dc" ng-model="vm.dc"
                   type="text" placeholder="DC" class="form-control input-sm" ng-enter="">
        </div>
        <label class="col-md-1 control-label" for="vatNo">VAT No</label>
        <div class="col-md-2">
            <input id="vatNo" name="vatNo" ng-model="vm.vatNo"
                   type="text" placeholder="VAT No" class="form-control input-sm" ng-enter="">
        </div>

        <label class="col-md-1 control-label" for="showAccounts">Show Accounts</label>
        <div class="col-md-2">
            <input type="checkbox" name="showAccounts" id="showAccounts" ng-model="">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-1 control-label" for="name">Vendor Name</label>
        <div class="col-md-2">
            <!--<input id="name" name="name" ng-model="vm.vendorName"
                   type="text" placeholder="Vendor Name" class="form-control input-sm" ng-enter="">-->
            <div class="input-group">
                <ui-select allow-clear ng-model="vm.vendors.selected" theme="bootstrap">
                    <ui-select-match placeholder="Vendor Name">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in vm.vendors | filter: $select.search">
                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                        <!--<small ng-bind-html="item.email | highlight: $select.search"></small>-->
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="button" ng-click="vm.vendors.selected = undefined" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </span>
            </div>

        </div>
        <label class="col-md-1 control-label" for="companyReg">Company Reg No</label>
        <div class="col-md-2">
            <input id="companyReg" name="companyReg" ng-model="vm.coRegNo"
                   type="text" placeholder="Company Reg No" class="form-control input-sm" ng-enter="">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-1 control-label" for="division">Division</label>
        <div class="col-md-2">
            <input id="division" name="division" ng-model="vm.division"
                   type="text" placeholder="Division" class="form-control input-sm" ng-enter="">
        </div>
        <label class="col-md-1 control-label" for="bankAcc">Bank Account No</label>
        <div class="col-md-2">
            <input id="bankAcc" name="bankAcc" ng-model="vm.bankAccNo"
                   type="text" placeholder="Bank Account No" class="form-control input-sm" ng-enter="">
        </div>
        <div class="col-md-offset-2 col-md-4">
            <button class="btn btn-warning btn-block" type="button" ng-click="vm.invokeErrorDetection()">
                <span class="glyphicon glyphicon-flash"></span> Invoke Error Detection Service
            </button>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-offset-3 col-md-1 control-label" for="primEan">Primary EAN Code</label>
        <div class="col-md-2">
            <input id="primEan" name="primEan" ng-model="vm.primEanCode"
                   type="text" placeholder="Primary EAN Code" class="form-control input-sm" ng-enter="">
        </div>
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-info btn-block" type="button" ng-click="vm.searchItems()">
                <span class="glyphicon glyphicon-search"></span> Search/Refresh
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success btn-block" type="button" ng-click="vm.clearParams()">
                <span class="glyphicon glyphicon-refresh"></span> Clear
            </button>
        </div>
    </div>
    <div ui-grid="vm.gridOptions" id="vendorGrid" class="vendorGrid"></div>
</div>