﻿<div class="modal-header">
    <h3 class="">{{model.title}}</h3>
</div>
<div class="modal-body">
    {{model.message}}
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close(model.item)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancel</button>
</div>