﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Cleansing</title>
    <link rel="icon" href="favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/appCssBundle")


    <style>
        /*.marginBottom-0 {margin-bottom:0;}

        .dropdown-submenu{position:relative;}
        .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
        .dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
        .dropdown-submenu:hover>a:after{border-left-color:#555;}
        .dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6*/ px 6px;border-radius:6px 0 6px 6px;
        }
    </style>
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>*@

</head>
<body ng-app="app" ng-controller="main">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div style="width:100%">
                <a href="../home">
                    <img alt="Brand" src="../app/common/images/sparlogo.png" style="height:15px">
                </a>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*@Html.ActionLink("Data Cleansing", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href="/" class="navbar-brand">Data Cleansing</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="sapCoDetails">SAP Co. Details</a></li>
                    <li><a ui-sref="viewVendors">Vendor Data</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Manage Vendor Hierarchy<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="/vendorGroups">Maintain Groups</a></li>
                            @*<li class="divider"></li>*@
                            <li><a ui-sref="/vendorDivisions">Maintain Divisions</a></li>
                            <li><a ui-sref="/vendorHierarchy">Maintain Hierarchy</a></li>
                            @*<li class="dropdown dropdown-submenu"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Manage Composite Items</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="compositeItems">Composite Items</a></li>
                                        <li class="divider"></li>
                                        <li><a href="compositeItemTypes">Composite Item Types</a></li>
                                    </ul>
                                </li>*@

                        </ul>
                    </li>
                </ul>
                <p class="nav navbar-text navbar-right">@User.Identity.Name - {{DC}}</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()

    </div>
    <div class="container">
        <hr />
        <footer>
            <p class="footerText">&copy; @DateTime.Now.Year - SGIS Development - {{targetServer}}</p>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/appCore/scripts")
    @Scripts.Render("~/bundles/app/minTest")


    @Scripts.Render("~/bundles/app/scripts")
    @RenderSection("scripts", required: false)
    
</body>
</html>
