﻿<div class="container panel-primary">
    <br />
    <div class="jumbotron row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Hi {{vm.user.displayName}}</h3>
        </div>
        <br />
        <!--<div ng-show="vm.isCOUser">
            <div class="row col-md-6 col-md-offset-3">
                Looks like you're from CO. Please select a DC context to work in before continuing.
            </div><br />
             <div class="row col-md-6 col-md-offset-3">
                 <select ng-model="vm.targetDC" ng-change="vm.chooseDC()" class="form-control col-md-2">
                     <option value="KZN">KZN</option>
                     <option value="EST">SR</option>
                     <option value="NTH">NR</option>
                     <option value="PLZ">EC</option>
                     <option value="CPT">WC</option>
                     <option value="LVD">LV</option>
                 </select>
             </div>

        </div>-->

    </div>

    <!--<div class="col-md-12">
        <button class="btn btn-danger">danger</button>
        <button class="btn btn-success">success</button>
        <button class="btn btn-warning">warn</button>
        <button class="btn btn-info">info</button>
    </div>-->
</div>