﻿<div>
    <div class="modal-header">
        <div class="row">
            <h3 class="modal-title">Composite Item Types</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <a ui-sref="compositeItemTypeEdit({compositeItemTypeId:0})" class="btn btn-info btn-xs col-md-offset-11">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add
            </a>
        </div>
        <div class="row">
            <label for="showInactive"><input id="showInactive" type="checkbox" ng-model="vm.showInactive" /> Show inactive items</label>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Name</td>
                    <td>Reward</td>
                    <td>Condition</td>
                    <td>Min Sub Groups</td>
                    <td>Max Sub Groups</td>
                    <td>Apply to Sub Depts Only?</td>
                    <td>Day/Time Dependent</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="compositeItemType in vm.compositeItemTypes" ng-show="vm.showInactive || compositeItemType.activeCode=='Y'"
                    ng-click="vm.showCompItemTypeEdit(compositeItemType.compItemTypeId)" class="animate-repeat">
                    <td>{{compositeItemType.compItemTypeCode}}</td>
                    <td><a ui-sref="compositeItemTypeEdit({compositeItemTypeId:{{compositeItemType.compItemTypeId}}})">{{compositeItemType.compItemTypeName}}</a> </td>
                    <td>{{compositeItemType.rewardDescription}}</td>
                    <td>{{compositeItemType.conditionDescription}}</td>
                    <td>{{compositeItemType.minSubGroups}}</td>
                    <td>{{compositeItemType.maxSubGroups}}</td>
                    <td>{{compositeItemType.subDepartments}}</td>
                    <td>{{compositeItemType.dateTimeDependent}}</td>
                    <td>{{compositeItemType.activeCode==='Y'?'Active':'Inactive'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
            
</div>
