﻿<div>
    <div class="modal-header">
        <div class="row">
            <h3>{{vm.title}}</h3>
        </div>
    </div>

    <div class="container">
        <form class="form-horizontal" name="citForm" novalidate>
            <fieldset>
                <!-- Text input-->
                <div form-input>
                    <label class="col-md-4" for="citName">Name</label>
                    <div class="col-md-4">
                        <textarea id="citName" name="citName" type="text" placeholder="required"
                               ng-model="vm.compositeItemType.compItemTypeName"
                               required
                               ng-maxlength="200"
                               ng-minlength="10" />
                    </div>
                </div>

                <!-- Input Composite Type Code -->
                <div form-input>
                    <label class="col-md-4" for="citCode">Code</label>
                    <div class="col-md-4">
                        <input id="citCode" name="citCode" type="text" placeholder="required"
                               ng-model="vm.compositeItemType.compItemTypeCode"
                               required 
                               ng-maxlength="2"/>
                    </div>
                </div>
                <!-- Text input Help Hint-->
                <div form-input>
                    <label class="col-md-4" for="citHelpHint">Help Hint</label>
                    <div class="col-md-4">
                        <textarea rows="3" id="citHelpHint" name="citHelpHint" type="text" placeholder="required"
                               ng-model="vm.compositeItemType.helpHint"
                               required
                               ng-maxlength="255" />
                    </div>
                </div>
                <!-- Select input Reward-->
                <div form-input>
                    <label class="col-md-4" for="rewardSelect">Reward</label>
                    <div class="col-md-4">
                        <select name="rewardSelect" id="rewardSelect"
                                ng-options="reward.rewardID as reward.rewardDescription for reward in vm.rewards"
                                ng-model="vm.compositeItemType.reward" required></select>
                    </div>
                </div>
                <!-- Select input Condition-->
                <div form-input>
                    <label class="col-md-4" for="conditsonSelect">Condition</label>
                    <div class="col-md-4">
                        <select name="conditsonSelect" id="conditsonSelect"
                                ng-options="condition.conditionID as condition.conditionDescription for condition in vm.conditions"
                                ng-model="vm.compositeItemType.condition" required></select>
                    </div>
                </div>
                <!-- Text input Min Sub Groups-->
                <div form-input>
                    <label class="col-md-4" for="citMinSubGroups">Min Sub Groups</label>
                    <div class="col-md-4">
                        <input id="citMinSubGroups" name="citMinSubGroups" type="number" ng-model="vm.compositeItemType.minSubGroups"
                               required
                               min="1"
                               max="9" />
                    </div>
                </div>

                <!-- Text input Max Sub Groups-->
                <div form-input>
                    <label class="col-md-4" for="citMaxSubGroups">Max Sub Groups</label>
                    <div class="col-md-4">
                        <input id="citMaxSubGroups" name="citMaxSubGroups" type="number" placeholder="" ng-model="vm.compositeItemType.maxSubGroups"
                               required
                               min="1"
                               max="9" />
                    </div>
                </div>
                <!-- Checkboxes-->
                <div form-input>
                    <label class="col-md-4" for="citSubDepartments"></label>
                    <div class="col-md-4">
                        <label class="checkbox-inline" for="citSubDepartments-0">
                            <input type="checkbox" name="citSubDepartments" id="citSubDepartments-0" ng-model="vm.compositeItemType.subDepartments" ng-false-value="'N'" ng-true-value="'Y'"> Sub Departments Only
                        </label>
                    </div>
                </div>
                <div form-input>
                    <label class="col-md-4" for="citDayTime"></label>
                    <div class="col-md-4">
                        <label class="checkbox-inline" for="citDayTime-0">
                            <input type="checkbox" name="citDayTime" id="citDayTime-0" ng-model="vm.compositeItemType.dateTimeDependent" ng-false-value="'N'" ng-true-value="'Y'"> Day/Time Dependant
                        </label>
                    </div>
                </div>

                <div form-input>
                    <label class="col-md-4" for="citActive"></label>
                    <div class="col-md-4">
                        <label class="checkbox-inline" for="citActive-0">
                            <input type="checkbox" name="citActive" id="citActive-0" ng-model="vm.compositeItemType.activeCode" ng-false-value="'N'" ng-true-value="'Y'"> Active
                        </label>
                    </div>
                </div>
                <!-- Buttons Row-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="button1id"></label>
                    <div class="col-md-8">
                        <button id="button1id" name="button1id" class="btn btn-success" ng-click="vm.submit()" ng-disabled="citForm.$invalid">Save</button>
                        <button id="button2id" name="button2id" class="btn btn-warning" ng-click="vm.cancel(citForm)">Cancel</button>
                    </div>
                </div>

            </fieldset>

        </form>
    </div>

</div>
<!-- debug form attributes -->
<!-- To be removed - oncreen form property viewer to examine form control states-->
<!--<div>
    <pre>{{citForm | json}}</pre>
</div>-->
