﻿<div ng-repeat="alert in raisedAlerts" class="alert alert-{{alert.type}}">
    {{alert.message}}
    <div class="close">
        <span class="glyphicon glyphicon-remove-circle" ng-click="closeAlert(alert)"></span>
    </div>
</div>