﻿body {
    color:#45565c;
    font-family: 'Roboto', sans-serif;
}

thead{
  background-color:#f3f6fc
}

h3{

}
label{
    font-family: 'Open Sans', sans-serif;
    font-size:smaller;
}

td{
    /*word-wrap:break-word;
    word-break:break-word;*/
}

tbody td{
    font-size:12px;
}

.footerText{
    font-size:9px!important;
}
.selected > td{
    background-color: #F4F6F7;
    border-bottom: 2px solid #65D7FC;
}

.warningRow > td{
background-color: #ffffe6;
    
}

.alertsBox{
    position: absolute;
    top: 90px;
    right: 20px;
    width: 300px;
}

.modal-lg{
    width:90%;
    height:auto;
}


.modal-lookup{
    width:70%;
    height:auto;
}

.modal-lookup .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
.btn{
    border-radius:2px!important;
}
.btn-success {
    color: #fff;
    background-color: #59ad59;
    border-color: #59ad59; 
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
     border-color: #5bc0de; 
}
.btn-warning {
    color: #fff;
    background-color: #f87979;
     border-color: #f87979; 
}
.btn-warning:hover {
    color: #fff;
    background-color: #fc6666;
    border-color: #fc6666;
}
.btn-warning:active {
    color: #fff;
    background-color: #f87979!important;
    border-color: #f87979!important;
}

.container{
    padding:10px;
}
/*fix styling when using input-group-addon*/
.col-md-3.input-group{
   float:left!important;
   padding-right:15px;
}
.panel-info .panel-info {
background:white;
-webkit-box-shadow: 3px 3px 22px -4px rgba(0,0,0,0.25);
-moz-box-shadow: 3px 3px 22px -4px rgba(0,0,0,0.25);
box-shadow: 3px 3px 22px -4px rgba(0,0,0,0.25);
}

.navbar {
background-color:#434E59!important;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #f37e7e;
    background-color:#434E59;
}
.dropdown-menu {
    border:none;
    margin: 2px 0 0 10px;
}
.navbar-inverse{
    border-color:#f87979;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 6px;
}
.navbar-inverse .navbar-nav > li > a {
color:white;
}

.navbar-inverse .navbar-brand {
/*color:white;*/
}

.panel-info .panel-info  .panel-heading {
margin-bottom:0;
background:white;
border:none;
border-radius:0;
border-bottom:1px solid #a6dcec;
border-top:4px solid #a6dcec;
}

.panel-info .panel-info .panel-heading h5 {
color:#666;
}

.panel-info .panel-info .panel-body {
background-color:white;
}

input[type="checkbox"]:before {
content: '';
  position: absolute;
  left:0px; top: -4px;
  width: 18px; height: 18px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}

input[type="checkbox"]:after {
  content: '✔';
  position: absolute;
  top: -1px; left: 2.5px;
  font-size: 16px;
  line-height: 0.8;
  color: #666;
  transition: all .2s;
}

label {
position:relative;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  margin-right:8px;
}

input[type="checkbox"]:not(:checked):after {
  opacity: 0;
  transform: scale(0);
}

.am-pm .btn {
margin-left:2px;
}

.checkbox-inline input[type="checkbox"] {
margin-left:-25px;
}

input[type="checkbox"]:checked:after {
  opacity: 1;
  transform: scale(1);
}

input[type="checkbox"]:hover:before {
  border: 1px solid #666!important;
}

input[type="checkbox"]:disabled {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}


/* now the element will fade out before it is removed from the DOM */
  .animate-repeat {
    /*display: block;*/
  }

  .animate-repeat.ng-move,
  .animate-repeat.ng-enter,
  .animate-repeat.ng-leave {
    -webkit-transition:all linear 0.7s;
    transition:all linear 0.7s;
  }

  .animate-repeat.ng-leave.ng-leave-active,
  .animate-repeat.ng-move,
  .animate-repeat.ng-enter {
    opacity:0;
  }

  .animate-repeat.ng-leave,
  .animate-repeat.ng-move.ng-move-active,
  .animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
  }



.modal-header > h3{
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block
}
.vendorGrid{
    width:100%;
    height:95vh;
}

.ui-grid-cell-contents{
    font-size:x-small;
}